#curve{
    border:1px solid black;
}

.ct-vertical{
    writing-mode: vertical-lr;
    text-align: center;
}
.ct-horizon{
    text-align: center;
    width: 100%;
    display: inline-block;
    writing-mode: horizontal-tb;
}
.ct-content{
    display: inline-block;
    text-align: left;
}

.car{
    width: 80px;
    height: 40px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #999;
    background-color: tomato;
    transition-property: all;
    transition-duration: 2s;
    position: relative;
    left: 0px;
}

.coordinate{
    width: 40px;
}